.gif{
    margin: 5px;
    width: 280px;
    height: 260px;
    background-color: #2c2c2c;
}
.gif:nth-child(even){
    height: 180px;
}
.gif img{
    height: 100%;
    width: 100%;
    
    cursor: zoom-in;
}
.gif img:hover{
    box-shadow: 0 0 20px rgba(172, 153, 255, 0.452) ;
}

@media screen and (max-width:767px){
    .gif{
        width: 150px;
    }
}