.gifs-c{
    width: 100%;
    min-height: calc(100vh - 230px);
    min-height: calc(100svh - 230px);
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: var(--black);
}
.gifs-search-title{
    align-self: flex-start;
    margin-left: 20vw;
    font-size: 3rem;
    background:var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gifs-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 10px;
}
.loading-spinner{
    margin-top: 50px;
}


@media screen and (max-width:767px){
    .gifs-box{
        width: 100%;
    }
    .gifs-search-title{
        margin-left: 10vw;
        font-size: 2rem;
    }
}

