.pagination-container{
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 1.6rem;
    color: var(--white);
}
.pagination{
    display: flex;
    list-style: none;
}
.pagination a{
    text-decoration: none;
}

.page-number{
    color: rgba(93, 193, 255, 0.568);
    margin-left: 15px;
    text-align: center;
    cursor: pointer;
}
.page-number:hover{
    color: rgb(91, 191, 253);
}

.active-page{
    color: rgb(91, 191, 253);
}





