*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Delicious Handrawn', cursive;
}


:root{
  --yellow: #ffdd1a;
  --orange:#ff661f;
  --white:#fffdfd;
  --black:#141414;
  --green: #7cdf4e;
  --gradient:  -webkit-linear-gradient(135deg, rgba(93,192,255,1) 0%, rgba(208,88,255,1) 100%);
}